################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Breeze.slnx/DesignTimeBuild
/.vs/Breeze.slnx/v18
/.vs/Breeze.slnx/FileContentIndex
/.claude/settings.local.json
/.vs/Breeze.slnx/copilot-chat/b9c4de9d/sessions
