################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Breeze.slnx/DesignTimeBuild
/.vs/Breeze.slnx/v18
